.noPadding{
    padding:0rem;
}
.marginMenuFix{
margin-top: -1rem;
padding-top: 1.5em;
}
.tabs .indicator {
    background-color: #c69727;
}
.tabs a.active { 
    background-color: blue;
}
.shapes {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}
.files {
	display: flex;
    flex-direction: column;
}
.materialTitle {
	display: flex;
    justify-content: flex-end;
}
.shape-blue {
	width: 0;
	height: 0;
	border-right: 6rem solid transparent;
    border-bottom: 12rem solid blue;
    transform: scale(1, -1)
}
.shape-orange {
	width: 0;
	height: 0;
	border-right: 6rem solid transparent;
	border-top: 10rem solid orange;
}
.shape-purple {
	width: 0;
	height: 0;
	border-right: 8rem solid transparent;
    border-bottom: 12rem solid purple;
    transform: scale(-1, 1)
}
.shape-green {
	width: 0;
	height: 0;
	border-right: 8rem solid transparent;
	border-top: 12rem solid green;
}
.grade {
    font-size: 6em;
}
.addMargin {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.flex-between{
	display: flex;
	justify-content: space-between;
}
.input-field.suffix i {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	transition: color .2s;
	top: 0px;
	right: 0px;
  }
  .input-field.suffix i.active {
	color: #26a69a;
  }
  .userSent{
	min-width: 4em;
	background-color:green
  }
  .responseReceived{
	min-width: 4em;
	background-color: blue;
  }
  .flex-between-contact{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
  
  .received{
	margin-top: 1rem;
	max-width:15rem;
	word-break:break-all;
	overflow:auto;
	padding:.3rem;
	border-radius: 3.125rem 3.125rem 3.125rem 0rem
  }
  .sent {
	margin-top: 1rem;
	max-width:15rem;
	word-break:break-all;
	margin-left:50%;
	padding:.3rem;
	overflow:auto;
	border-radius: 3.125rem 3.125rem  0rem 3.125rem
  }